.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
}
